<div id="<%= dom_id entry %>">
  <p>
    <strong>Tipo de refeição:</strong>
    <%= entry.meal_type %>
  </p>

  <p>
    <strong>Caloria:</strong>
    <%= entry.calories %>
  </p>

  <p>
    <strong>Proteína:</strong>
    <%= entry.proteins %>
  </p>

  <p>
    <strong>Carboidrato:</strong>
    <%= entry.carbohydrates %>
  </p>

  <p>
    <strong>Gordura:</strong>
    <%= entry.fats %>
  </p>

</div>
