<% content_for :title do %>
  Registro de Refeições
<% end %>

  <div class="columns mt-6 is-centered"> 
   <% @entries.each do |entry| %>
      <div class="column is-one-quarter">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title"><%= entry.meal_type %></p>
          </header>
          <div class="card-content">
            <div class="content">
              <p><span class="has-text-weight-bold"><%= entry.calories %> calorias</span></p>
              <p><span class="has-text-weight-bold"><%= entry.proteins %>
                gramas de proteinas
              </span></p>
              <p><span class="has-text-weight-bold"><%= entry.carbohydrates %>
                gramas de carboidratos
              </span></p>
              <p><span class="has-text-weight-bold"><%= entry.fats %>
                gramas de gordura
              </span></p>
              <p class="italic"> Logado <%= time_ago_in_words(entry.created_at) %> atrás</p>
            </div>
          </div>       

          <div class="card-footer">
            <%= link_to 'Exibir', entry, class:"card-footer-item" %>
            <%= link_to 'Editar', edit_entry_path(entry), class:"card-footer-item" %>
            <%= link_to 'Deletar', entry, method: :delete, data: { confirm: 'Tem certeza?'}, class:"card-footer-item" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>